<!DOCTYPE html>
<html>
<head>
  <title>DTLD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= form_tag(stories_path(), method: :get) do %>
            <%= text_field_tag :search, params[:search], class: "form-control" %>
              <%= submit_tag "Search DTLD" %>
              <% end %>
        </div>
    </form>
  </nav>

<%= yield %>

</body>
</html>
